@page
@model CoverLetterModel
@{
    ViewData["Title"] = "Cover Letter page";
}

<div class="text-center">
    <br />
    <br />
    <h4 align="center">Bailey J. Heinen</h4>
    <p align="center">911 Ledgestone Ct • Polk City, Iowa 50226 • 515-822-1389 • Heinen.00@gmail.com</p>
    <hr />
    <br />
    <br />
    <p align="left">Dear Hiring Manager,</p>
    <br />
    <p align="left">Please accept my resume for your consideration.</p>
    <br />
    <p align="left">
        I am a senior in the Cybersecurity Engineering program at Iowa State University.
        This past year I have been working as a security/software developer for Proplanner
        and I am currently working 20 hours a week during the semester and 40 hours a week
        outside of the semester. One of my biggest responsibilities at Proplanner is scanning
        our Shop Floor Viewer application with Veracode and mitigating any issues that I find.
        Outside of doing software security I also develop new features into our Assembly Planner
        application. Assembly Planner is Proplanner’s biggest application consisting of over a
        million lines of code, 45 modules, and hundreds of users worldwide. Assembly Planner is
        used by manufacturing companies to build and map assembly lines to perform in the most
        efficient manner. Shop Floor Viewer is used on the manufacturing floor to guide workers
        through every detail of the process. These applications use .Net Framework and .Net Core
        for the backend, WinForms for the front end, Angular for the web and MS SQL server.
    </p>
    <br />
    <p align="left">
        This semester I am also going to be spending time working on a team project for Professor
        Doug Jacobson called CySim. The purpose of this application is to give students/learners the
        ability to have a safe space to sharpen their cyber security skills. Users will have the
        flexibility to practice on both sides of cyber security spectrum attacking and defending.
        CySim gives users this opportunity because there will be tutorials available on both sides to
        guide users through various scenarios. Once the user gets enough experience and practice, they
        will have ability to test their skills by facing off against other users. Another big purpose
        of CySim is for companies to have the ability to test individuals on their cyber skills.
        Companies will be able to easily import a real work scenario and be able to see how individuals
        would react to different situations. This is useful for companies because they will be able to
        better narrow down the candidates for the job. This project uses .Net Core, Boot Strap, Entity
        Framework, and MS SQL Server. On top of working with .NET I also have about 4 years of college
        experience in C and Java. I use Java as my programing language to learn about many data structures
        and algorithms. I use C mostly for embedded systems with designing my own Roomba, but I also have
        used it often for many client-server applications.
    </p>
    <br />
    <p align="left">
        My resume, which I have enclosed for your review, contains additional details about my experience.
        I look forward to the opportunity to meet with you to discuss the skills I would bring to your
        organization. Thank you for your consideration.
    </p>
    <br />
    <p  align="left">Sincerely,</p>
    <p align="left">Bailey J. Heinen</p>
</div>
