@page
@model IndexModel
@{
    ViewData["Title"] = "About page";
}

<div class="text-center">
    <br />
    <h2>Bailey Heinen</h2>
    <img src="Images/SelfImage.png" alt="Portfolio Image" width="300" height="400">
    <br />
    <br />
    <p>Hello!</p>
    <p>Please feel free to click on the links above so that you can get to know me better. I hope to talk to you soon!</p>


</div>

