@page
@model ResumeModel
@{
    ViewData["Title"] = "Resume page";
}

<div class="text-center">
    <br />
    <br />
    <h2 align="center">Bailey J. Heinen</h2>
    <p align="center">905 Dickinson Ave • Ames, Iowa 50014 • 515-822-1389 • Heinen.00@gmail.com</p>
    <hr />
    <h3 align="left">Education</h3>
    <h4 style="text-align:right">
        <span style="float:left">Iowa State University</span>
        Ames, IA
    </h4>
    <p style="text-align:right">
        <span style="float:left">Bachelor of Science</span>
        Anticipated May 2023
    </p>
    <p align="left">Major: Cybersecurity Engineering</p>
    <p align="left">Languages: Java, C#, C, Python, TypeScript, HTML and VHDL</p>

    <h3 align="left">Work Experience</h3>
    <h4 style="text-align:right">
        <span style="float:left">Proplanner</span>
        Ames, IA
    </h4>
    <p style="text-align:right">
        <span style="float:left">Security / Software Developer (Intern)</span>
        December 2021 - Present
    </p>
    <ul>
        <li align="left">Updated Shop Floor Viewer application</li>
        <ul>
            <li align="left">.Net to .Net Core to improve application performance</li>
            <li align="left">Designed the documentation to provide to our testing engineers</li>
        </ul>
        <li align="left">Tested Shop Floor Viewer application for security vulnerabilities </li>
        <ul>
            <li align="left">Raised SFV security score from 55 to 81 (individually)</li>
            <li align="left">Fixed numerous CRLF, SQL Injection, File Path, and Insufficient Entropy vulnerabilities</li>
            <ul>
                <li align="left">Checked untrusted data to see if contains carriage return or line feed</li>
                <li align="left">Parametrized queries</li>
                <li align="left">Whitelisted file paths</li>
                <li align="left">Used a more secure way to generate random numbers</li>
            </ul>
        </ul>
        <li align="left">Developed new features into our Assembly Planner application</li>
        <ul>
            <li align="left">Custom fields entries to populate customers part plan report </li>
            <li align="left">Visio Forge media platform to display videos, record data, and manipulate data</li>
            <li align="left">Work instruction report to see all the steps needed to fully develop a new product in one central report</li>
            <li align="left">Client specific bill of materials report</li>
        </ul>
        <li align="left">Tested both applications for functionality and correctness</li>
        <li align="left">Tools Used: SQL, Angular, Dev Express, WinForms, Visio Forge, Veracode, Serilog, GIT, TFS, .Net Framework, .Net Core, Entity Framework, MS SQL Server, and WCF</li>
    </ul>
    <h4 style="text-align:right">
        <span style="float:left">Electric Wholesale</span>
        Ames, IA
    </h4>
    <p style="text-align:right">
        <span style="float:left">Counter Technician</span>
        May 2016 - June 2021
    </p>
    <ul>
        <li align="left">Introduction to electrical circuits and components</li>
        <li align="left">Demonstrated teamwork and organizational skills</li>
        <li align="left">Interprofessional communication with electricians, home builders and project managers</li>
    </ul>
    <h3 align="left">College Achievments</h3>
    <h4 style="text-align:right">
        <span style="float:left">Iowa State</span>
        Ames, IA
    </h4>
    <p style="text-align:right">
        <span style="float:left">Software and Development Practices (Com S 309)</span>
        Spring 2022
    </p>
    <ul>
        <li align="left">Awarded programmer with most heart</li>
        <li align="left">Built mobile game messaging application like Game Pigeon(iPhone)</li>
        <li align="left">Tools Used: Android Studio, Spring Boot, MySQL Server, Postman</li>
    </ul>
    <p style="text-align:right">
        <span style="float:left">Cyber Defense Competitions</span>
        Fall 2021 - Spring 2022
    </p>
    <ul>
        <li align="left">Competed in three competitions</li>
        <ul>
            <li align="left">Goal: Secure a fake computer network and prevent credible intruders </li>
        </ul>
        <li align="left">Placed in the top 25% twice</li>
    </ul>

</div>

