@page
@model ResumeModel
@{
    ViewData["Title"] = "Resume page";
}

<div class="text-center">
    <br />
    <br />
    <h2 align="center">Bailey J. Heinen</h2>
    <p align="center">911 Ledgestone Ct • Polk City, Iowa 50226 • 515-822-1389 • Heinen.00@gmail.com</p>
    <hr />
    <h3 align="left">Education</h3>
    <h4 style="text-align:right">
        <span style="float:left">Iowa State University</span>
        Ames, IA
    </h4>
    <p style="text-align:right">
        <span style="float:left">Bachelor of Science</span>
        May 2023
    </p>
    <p align="left">Major: Cybersecurity Engineering</p>
    <p align="left">Languages: Java, C#, C, Python, TypeScript, HTML and VHDL</p>

    <h3 align="left">Work Experience</h3>
    <h4 style="text-align:right">
        <span style="float:left">Sogeti (Capgemini)</span>
        Des Moines, IA
    </h4>
    <h5 style="text-align:right">
        <span style="float:left">Consultant</span>
        July 2024 - Present
    </h5>
    <ul>
        <li align="left">Developed LifePro (Insurance application) from version 19 to 20</li>
        <ul>
            <li align="left">Modified .net applications to use a new version 20 servers</li>
            <li align="left">Developed a smoke testing suite for a mock production environment</li>
            <ul>
                <li align="left">Ensures APIs are available for business users</li>
            </ul>
        </ul>
        <li align="left">Monitored nightly cycles (On call support)</li>
        <ul>
            <li align="left">Ensures environments are available for testing teams</li>
        </ul>
    </ul>
    <h5 style="text-align:right">
        <span style="float:left">Associate Consultant</span>
        June 2023 - July 2024
    </h5>
    <ul>
        <li align="left">Quality Engineering</li>
        <ul>
            <li align="left">Automated API testing to do functional, performance, and load testing for 50+ endpoints (Postman)</li>
        </ul>
        <li align="left">Software Engineering</li>
        <ul>
            <li align="left">Developed numerous Azure YAML pipelines to release code/files to servers</li>
            <li align="left">Improved .net application startup time from 2-8 mins to around ~2 seconds</li>
            <li align="left">Developed a proof of concept application to do load testing on a variety of APIs (.net)</li>
            <li align="left">Developed an excel macro program to automate file comparisons</li>
        </ul>
        <li align="left">Tools Used: .Net, Postman, SSMS, Load Runner, Soap UI, Git, Veracode, Visual Studio, Dynatrace, Azure, Control-M</li>
        <li align="left">Programming Languages: C#, Javascript, VB, Cobol, VBS, PS1, SQL</li>
    </ul>
    <h4 style="text-align:right">
        <span style="float:left">Proplanner</span>
        Ames, IA
    </h4>
    <h5 style="text-align:right">
        <span style="float:left">Security / Software Developer (Intern)</span>
        December 2021 - April 2023
    </h5>
    <ul>
        <li align="left">Updated Shop Floor Viewer application</li>
        <ul>
            <li align="left">.Net to .Net Core to improve application performance</li>
            <li align="left">Designed the documentation to provide to our testing engineers</li>
        </ul>
        <li align="left">Tested Shop Floor Viewer application for security vulnerabilities </li>
        <ul>
            <li align="left">Raised SFV security score 30%</li>
            <li align="left">Fixed numerous CRLF, SQL Injection, File Path, and Insufficient Entropy vulnerabilities</li>
            <ul>
                <li align="left">Checked untrusted data to see if contains carriage return or line feed</li>
                <li align="left">Parametrized queries</li>
                <li align="left">Whitelisted file paths</li>
                <li align="left">Used a more secure way to generate random numbers</li>
            </ul>
        </ul>
        <li align="left">Developed new features into our Assembly Planner application</li>
        <ul>
            <li align="left">VisioForge media platform to display videos, record data, and manipulate data</li>
            <ul>
                <li align="left">Platform for assembly line employees to see step by step guide to complete a work task</li>
                <li align="left">Can also input data to offer suggestions for improvement</li>
            </ul>
            <li align="left">Work instruction report so management can have all the steps needed to fully develop a new product in one central report</li>
        </ul>
        <li align="left">Tools Used: Angular, Dev Express, WinForms, Visio Forge, Veracode, Serilog, GIT, TFS, .Net Framework, .Net Core, Entity Framework, MS SQL Server, and WCF</li>
        <li align="left">Programming Languages: C#, TypeScript, SQL</li>
    </ul>
    <h4 style="text-align:right">
        <span style="float:left">Electric Wholesale</span>
        Ames, IA
    </h4>
    <h5 style="text-align:right">
        <span style="float:left">Counter Technician</span>
        May 2016 - June 2021
    </h5>
    <ul>
        <li align="left">Introduction to electrical circuits and components</li>
        <li align="left">Demonstrated teamwork and organizational skills</li>
        <li align="left">Interprofessional communication with electricians, home builders and project managers</li>
    </ul>
    <h3 align="left">College Achievments</h3>
    <h4 style="text-align:right">
        <span style="float:left">Iowa State</span>
        Ames, IA
    </h4>
    <h5 style="text-align:right">
        <span style="float:left">Software and Development Practices (Com S 309)</span>
        Spring 2022
    </h5>
    <ul>
        <li align="left">Awarded programmer with most heart</li>
        <li align="left">Built mobile game messaging application like Game Pigeon(iPhone)</li>
        <li align="left">Tools Used: Android Studio, Spring Boot, MySQL Server, Postman</li>
    </ul>
    <h5 style="text-align:right">
        <span style="float:left">Cyber Defense Competitions</span>
        Fall 2021 - Spring 2022
    </h5>
    <ul>
        <li align="left">Competed in three competitions</li>
        <ul>
            <li align="left">Goal: Secure a fake computer network and prevent credible intruders </li>
        </ul>
        <li align="left">Placed in the top 25% twice</li>
    </ul>

</div>

